body {
  margin: 0;
  padding: 0;
  padding-top: 65px; 
  font-family: sans-serif;
}

#loginBox {
	display: inline-block;
	text-align: left;
	border-left: 6px solid Black;
}

#SignupBox {
	display: inline-block;
	text-align: left;

}

#loginSignup {
	background-color: #b3b3b3;
}
