body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#loginBox {
	display: inline-block;
}

#signupBox {
	display: inline-block;
}

.modal-body{
    background-image: url('modalBackground.jpg');
	  color: white;
}

.modal-content {
	  color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #cccccc;
}

input {
	background-color: #d9d9d9;
}

button {
	margin: 10px 10px;
	border-radius: 25px !important;
}
